@using VideoConverterApi.Enums
@using VideoConverterApi.Models
@inject HttpClient client
@inject IJSRuntime JsRuntime

<h3>ConvertToMP4</h3>
<br />

<button @onclick="ToggleAdvancedSettings">Открыть расширенные настройки</button>
<br />

@if (showAdvancedSettings)
{
    <h5>Video Codec</h5>
    <select @bind="selectedVideoCodec">
        @foreach (var codec in Enum.GetValues(typeof(MP4CompatibleVideoCodecs)))
        {
            <option value="@codec">@codec</option>
        }
    </select>

    <h5>Audio Codec</h5>
    <select @bind="selectedAudioCodec">
        @foreach (var codec in Enum.GetValues(typeof(MP4CompatibleAudioCodecs)))
        {
            <option value="@codec">@codec</option>
        }
    </select>

    <h5>Video Bitrate</h5>
    <input type="number" @bind="videoBitrate" />
    <label>bits/s</label>

    <h5>Audio Bitrate</h5>
    <input type="number" @bind="audioBitrate" />
    <label>bits/s</label>

    <h5>Quality Value (1 - 51)</h5>
    <input type="number" @bind="crf" />

    <h5>Preset</h5>
    <select @bind="selectedPreset">
        @foreach (var preset in Enum.GetValues(typeof(Presets)))
        {
            <option value="@preset">@preset</option>
        }
    </select>
    <br />
}

<div>
    <br />
    <button type="button" class="btn btn-primary" @onclick="ConvertVideo" disabled="@isConverting">
        @if (isConverting)
        {
            <span class="spinner-border spinner-border-sm"></span>
        }
        else
        {
            <span>Конвертировать</span>
        }
    </button>
</div>

@if (isConverting)
{
    <div class="loading-screen">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Видео конвертируется...</p>
    </div>
}

@if (_errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class=" text-danger">
        @foreach (var error in _errors)
        {
            <li>@error</li>
        }
    </ul>
}

@code {

    [Parameter]
    public string? InputFileName { get; set; }

    private bool showAdvancedSettings;
    private bool isConverting = false;
    private MP4CompatibleVideoCodecs selectedVideoCodec;
    private MP4CompatibleAudioCodecs selectedAudioCodec;
    private int videoBitrate;
    private int audioBitrate;
    private int crf;
    private Presets selectedPreset;
    private string _apiBaseURL = "https://localhost:44337";
    private string _directoryPath = @"C:\Users\Matvey\source\repos\VideoConverterApi\VideoConverterApi\Videos\Uploads\";
    private List<string> _errors = new();

    private void ToggleAdvancedSettings()
    {
        showAdvancedSettings = !showAdvancedSettings;
    }

    private async Task ConvertVideo()
    {
        isConverting = true;

        if (showAdvancedSettings)
        {
            var arguments = new ConvertToMP4Arguments
                {
                    InputFileName = InputFileName,
                    MP4CompatibleVideoCodecs = selectedVideoCodec,
                    MP4CompatibleAudioCodecs = selectedAudioCodec,
                    VideoBitrate = videoBitrate,
                    AudioBitrate = audioBitrate,
                    Preset = selectedPreset,
                    Crf = crf
                };

            var response = await client.PostAsJsonAsync($"{_apiBaseURL}/converttomp4witharguments", arguments);

            if (response.IsSuccessStatusCode)
            {
                string content = await response.Content.ReadAsStringAsync();
                var outputFileName = content.Substring(content.IndexOf(':') + 1).Replace("\"", "").Replace("}", "").Replace("Videos/Uploads/", "");
                string downloadUrl = $"{_apiBaseURL}/download?filePath={_directoryPath}{outputFileName}";
                _errors.Add(downloadUrl);

                // Trigger the download in the browser
                await JsRuntime.InvokeAsync<object>("blazorOpen", downloadUrl, "_blank");
            }
            else
            {
                _errors.Add(response.StatusCode.ToString());
            }

            isConverting = false;
        }
        else
        {
            var arguments = new InputFileArguments
                {
                    InputFileName = InputFileName
                };

            var response = await client.PostAsJsonAsync($"{_apiBaseURL}/converttomp4withnoarguments", arguments);

            if (response.IsSuccessStatusCode)
            {
                string content = await response.Content.ReadAsStringAsync();
                var outputFileName = content.Substring(content.IndexOf(':') + 1).Replace("\"", "").Replace("}", "").Replace("Videos/Uploads/", "");
                string downloadUrl = $"{_apiBaseURL}/download?filePath={_directoryPath}{outputFileName}";
                _errors.Add(downloadUrl);

                // Trigger the download in the browser
                await JsRuntime.InvokeAsync<object>("blazorOpen", downloadUrl, "_blank");
            }
            else
            {
                _errors.Add(response.StatusCode.ToString());
            }

            isConverting = false;
        }
    }
}
